@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
/* line 2, src/assets/scss/base/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

/* line 17, src/assets/scss/base/_reset.scss */
blockquote,
q {
  quotes: none;
}

/* line 22, src/assets/scss/base/_reset.scss */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* line 30, src/assets/scss/base/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, src/assets/scss/base/_global.scss */
* {
  box-sizing: border-box;
}

/* line 5, src/assets/scss/base/_global.scss */
body {
  font-size: .8rem !important;
  font-family: "Open Sans", sans-serif;
  color: #54698D;
  line-height: 1.3;
  overflow-x: hidden;
  padding-top: 0 !important;
}

/* line 15, src/assets/scss/base/_global.scss */
h1,
h2,
h3,
h4 {
  font-weight: 600;
}

/* line 24, src/assets/scss/base/_global.scss */
hr {
  margin: 0 0 10px 0;
}

/* line 27, src/assets/scss/base/_global.scss */
a {
  color: #54698D;
  -webkit-transition: .2s ease-in-out all;
  transition: .2s ease-in-out all;
  font-weight: 400;
  text-decoration: none;
}

/* line 32, src/assets/scss/base/_global.scss */
a:hover {
  text-decoration: none;
  color: #697789;
}

/* line 36, src/assets/scss/base/_global.scss */
a:focus {
  text-decoration: none;
}

/* line 40, src/assets/scss/base/_global.scss */
ul {
  list-style-type: none;
  padding-left: 0;
}

/* line 44, src/assets/scss/base/_global.scss */
strong {
  font-weight: 600;
}

/* line 48, src/assets/scss/base/_global.scss */
label {
  font-weight: 400;
}

/* line 52, src/assets/scss/base/_global.scss */
.content-wrapper {
  min-height: calc(100vh - 360px);
}

@media screen and (min-width: 1024px) {
  /* line 55, src/assets/scss/base/_global.scss */
  .bk-text-justify {
    text-align: justify;
  }
}

/* line 59, src/assets/scss/base/_global.scss */
.bk-text-justify--center {
  text-align: center;
}

@media screen and (min-width: 1024px) {
  /* line 59, src/assets/scss/base/_global.scss */
  .bk-text-justify--center {
    text-align: justify;
  }
}

/* line 67, src/assets/scss/base/_global.scss */
.bg-primary {
  background-color: #54698D !important;
}

/* line 70, src/assets/scss/base/_global.scss */
.text-color-primary {
  color: #54698D !important;
}

/* line 67, src/assets/scss/base/_global.scss */
.bg-secondary {
  background-color: #90B9FF !important;
}

/* line 70, src/assets/scss/base/_global.scss */
.text-color-secondary {
  color: #90B9FF !important;
}

/* line 67, src/assets/scss/base/_global.scss */
.bg-success {
  background-color: #3ccc90 !important;
}

/* line 70, src/assets/scss/base/_global.scss */
.text-color-success {
  color: #3ccc90 !important;
}

/* line 67, src/assets/scss/base/_global.scss */
.bg-danger {
  background-color: #e93a3a !important;
}

/* line 70, src/assets/scss/base/_global.scss */
.text-color-danger {
  color: #e93a3a !important;
}

/* line 67, src/assets/scss/base/_global.scss */
.bg-warning {
  background-color: #FF8C31 !important;
}

/* line 70, src/assets/scss/base/_global.scss */
.text-color-warning {
  color: #FF8C31 !important;
}

/* line 67, src/assets/scss/base/_global.scss */
.bg-info {
  background-color: #F7CC00 !important;
}

/* line 70, src/assets/scss/base/_global.scss */
.text-color-info {
  color: #F7CC00 !important;
}

/* line 67, src/assets/scss/base/_global.scss */
.bg-dark {
  background-color: #913C9E !important;
}

/* line 70, src/assets/scss/base/_global.scss */
.text-color-dark {
  color: #913C9E !important;
}

/* line 74, src/assets/scss/base/_global.scss */
.bg-tertiary {
  background: #c4c4b3 !important;
}

/* line 77, src/assets/scss/base/_global.scss */
.bg-complementary {
  background: #7ca7ad !important;
}

/* line 80, src/assets/scss/base/_global.scss */
.bg-grey {
  background: #F5F6FA !important;
}

/* line 83, src/assets/scss/base/_global.scss */
.min-h-100 {
  min-height: 94vh;
}

/* line 1, src/assets/scss/components/_customscrollbar.scss */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(220, 221, 225, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

/* line 8, src/assets/scss/components/_customscrollbar.scss */
::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

/* line 14, src/assets/scss/components/_customscrollbar.scss */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(220, 221, 225, 0.3);
  background-color: #DCDDE1;
}

/* line 2, src/assets/scss/components/_navbar.scss */
.tecnioo-navbar--wrap {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

/* line 7, src/assets/scss/components/_navbar.scss */
.tecnioo-navbar--wrap__img {
  max-width: 60px;
  position: relative;
  top: -5px;
}

/* line 14, src/assets/scss/components/_navbar.scss */
.navbar-nav .dropdown-menu {
  position: absolute;
}

/* line 1, src/assets/scss/components/biglist.scss */
.tecnioo-biglist {
  border: 1px solid #DCDDE1;
}

/* line 3, src/assets/scss/components/biglist.scss */
.tecnioo-biglist--container {
  max-height: 450px;
  overflow: scroll;
  overflow-x: hidden;
}

/*form styles*/
/* line 2, src/assets/scss/pages/_crearllamado.scss */
#msform {
  max-width: 90%;
  position: relative;
  margin: 0 auto;
}

/* line 7, src/assets/scss/pages/_crearllamado.scss */
#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  /*stacking fieldsets above each other*/
  position: absolute;
}

/*Hide all except first fieldset*/
/* line 18, src/assets/scss/pages/_crearllamado.scss */
#msform fieldset:not(:first-of-type) {
  display: none;
}

/*headings*/
/* line 23, src/assets/scss/pages/_crearllamado.scss */
.fs-title {
  font-size: 16px;
  color: #54698D;
  margin-bottom: 10px;
}

/* line 28, src/assets/scss/pages/_crearllamado.scss */
.fs-subtitle {
  font-weight: normal;
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

/*progressbar*/
/* line 35, src/assets/scss/pages/_crearllamado.scss */
#progressbar {
  margin-bottom: 60px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
}

/* line 41, src/assets/scss/pages/_crearllamado.scss */
#progressbar li {
  text-align: center;
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  position: relative;
}

/* line 48, src/assets/scss/pages/_crearllamado.scss */
#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #333;
  background: white;
  border-radius: 3px;
  margin: 0 auto 5px auto;
}

/*progressbar connectors*/
/* line 61, src/assets/scss/pages/_crearllamado.scss */
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1;
  /*put it behind the numbers*/
}

/* line 71, src/assets/scss/pages/_crearllamado.scss */
#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
/* line 77, src/assets/scss/pages/_crearllamado.scss */
#progressbar li.active:before, #progressbar li.active:after {
  background: #54698D;
  color: white;
}

/* line 82, src/assets/scss/pages/_crearllamado.scss */
.help-block {
  font-size: .8em;
  color: #7c7c7c;
  text-align: left;
  margin-bottom: .5em;
}

/* line 22, src/assets/scss/main.scss */
.form-control {
  height: 26px;
  padding: 2px .75rem;
  font-size: .8rem;
  border-radius: 0;
}

/* line 29, src/assets/scss/main.scss */
.tecnioo-card {
  min-height: 100%;
}

/* line 31, src/assets/scss/main.scss */
.tecnioo-card--flag {
  max-height: 80px;
  width: 3px;
  background: #54698D;
}

/* line 37, src/assets/scss/main.scss */
.tecnioo-card--title__status {
  width: 14px;
  height: 14px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
}

/* line 45, src/assets/scss/main.scss */
.tecnioo-card--img {
  width: 45px;
  height: 45px;
  overflow: hidden;
  border: 1px solid #697789;
}

/*# sourceMappingURL=main.css.map */
