@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
/* line 2, src/assets/scss/base/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

/* line 17, src/assets/scss/base/_reset.scss */
blockquote,
q {
  quotes: none;
}

/* line 22, src/assets/scss/base/_reset.scss */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* line 30, src/assets/scss/base/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, src/assets/scss/base/_global.scss */
* {
  box-sizing: border-box;
}

/* line 5, src/assets/scss/base/_global.scss */
body {
  font-size: .8rem !important;
  font-family: "Open Sans", sans-serif;
  color: #54698D;
  line-height: 1.3;
  overflow-x: hidden;
}

/* line 14, src/assets/scss/base/_global.scss */
h1,
h2,
h3,
h4 {
  font-weight: 600;
}

/* line 23, src/assets/scss/base/_global.scss */
hr {
  margin: 0 0 10px 0;
}

/* line 26, src/assets/scss/base/_global.scss */
a {
  color: #54698D;
  -webkit-transition: .2s ease-in-out all;
  transition: .2s ease-in-out all;
  font-weight: 400;
  text-decoration: none;
}

/* line 31, src/assets/scss/base/_global.scss */
a:hover {
  text-decoration: none;
  color: #697789;
}

/* line 35, src/assets/scss/base/_global.scss */
a:focus {
  text-decoration: none;
}

/* line 39, src/assets/scss/base/_global.scss */
ul {
  list-style-type: none;
  padding-left: 0;
}

/* line 43, src/assets/scss/base/_global.scss */
strong {
  font-weight: 600;
}

/* line 47, src/assets/scss/base/_global.scss */
label {
  font-weight: 400;
}

/* line 51, src/assets/scss/base/_global.scss */
.content-wrapper {
  min-height: calc(100vh - 360px);
}

@media screen and (min-width: 1024px) {
  /* line 54, src/assets/scss/base/_global.scss */
  .bk-text-justify {
    text-align: justify;
  }
}

/* line 58, src/assets/scss/base/_global.scss */
.bk-text-justify--center {
  text-align: center;
}

@media screen and (min-width: 1024px) {
  /* line 58, src/assets/scss/base/_global.scss */
  .bk-text-justify--center {
    text-align: justify;
  }
}

/* line 66, src/assets/scss/base/_global.scss */
.bg-primary {
  background: #54698D !important;
}

/* line 69, src/assets/scss/base/_global.scss */
.bg-secondary {
  background: #d2451e !important;
}

/* line 72, src/assets/scss/base/_global.scss */
.bg-tertiary {
  background: #c4c4b3 !important;
}

/* line 75, src/assets/scss/base/_global.scss */
.bg-complementary {
  background: #7ca7ad !important;
}

/* line 78, src/assets/scss/base/_global.scss */
.bg-grey {
  background: #F5F6FA !important;
}

/* line 2, src/assets/scss/components/_navbar.scss */
.tecnioo-navbar--wrap {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: red;
  overflow: hidden;
}

/* line 8, src/assets/scss/components/_navbar.scss */
.tecnioo-navbar--wrap__img {
  max-width: 60px;
  position: relative;
  top: -5px;
}

/* line 15, src/assets/scss/components/_navbar.scss */
.navbar-nav .dropdown-menu {
  position: absolute;
}

/* line 1, src/assets/scss/components/biglist.scss */
.tecnioo-biglist {
  border: 1px solid #DCDDE1;
}

/* line 3, src/assets/scss/components/biglist.scss */
.tecnioo-biglist--container {
  max-height: 450px;
  overflow: scroll;
  overflow-x: hidden;
}

/* The container */
/* line 18, src/assets/scss/main.scss */
.custom-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
/* line 32, src/assets/scss/main.scss */
.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
/* line 41, src/assets/scss/main.scss */
.custom-checkbox--checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
/* line 51, src/assets/scss/main.scss */
.custom-checkbox:hover input ~ .custom-checkbox--checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
/* line 56, src/assets/scss/main.scss */
.custom-checkbox input:checked ~ .custom-checkbox--checkmark {
  background-color: #007bff;
}

/* Create the checkmark/indicator (hidden when not checked) */
/* line 61, src/assets/scss/main.scss */
.custom-checkbox--checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
/* line 68, src/assets/scss/main.scss */
.custom-checkbox input:checked ~ .custom-checkbox--checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
/* line 73, src/assets/scss/main.scss */
.custom-checkbox .custom-checkbox--checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 85, src/assets/scss/main.scss */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(220, 221, 225, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

/* line 92, src/assets/scss/main.scss */
::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

/* line 98, src/assets/scss/main.scss */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(220, 221, 225, 0.3);
  background-color: #DCDDE1;
}

/* line 105, src/assets/scss/main.scss */
.form-control {
  height: 26px;
  padding: 2px .75rem;
  font-size: .8rem;
  border-radius: 0;
}

/* line 112, src/assets/scss/main.scss */
.tecnioo-card {
  min-height: 100%;
}

/* line 114, src/assets/scss/main.scss */
.tecnioo-card--flag {
  max-height: 80px;
  width: 3px;
  background: #54698D;
}

/* line 120, src/assets/scss/main.scss */
.tecnioo-card--title__status {
  width: 14px;
  height: 14px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
}

/*# sourceMappingURL=main.css.map */
